<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>list</ion-title>
    <ion-icon class="home-button" (click)="gotohome()" name="Home" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let i of Item">
    <ion-card-header>
      <ion-card-title>list name: {{i.name}}</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-icon (click)="deleteItem(i.id)" name="trash" slot="end"></ion-icon>
      <ion-button (click)="presentAlert(i.id)">Edit</ion-button>
    </ion-item>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-segment value="default">
    <ion-segment-button value="default">
      <ion-label>Lis</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="gotoadditem()">
      <ion-label>Addlist</ion-label>
    </ion-segment-button>
  </ion-segment>  
</ion-footer>

